<section class="post">
<header class="post-header">
    <p class="post-meta">
        <span class="post-date">${data['date-str']}</span>
        % for cat in data['categories']:
        • <a class="post-cat" href="/categories?cat=${cat}">${cat}</a>
        % endfor
    </p>
    <h4><a href="/article?date=${data['date-id']}&id=${data['title-id']}" class="post-title" title="${data['title']}">${data['title']}</a></h4>
</header>
<div class="post-description">
${data['content-brief']}
</div>
</section>
