<section class="post">
    <header class="post-header">
        <p class="post-meta">
            <span class="post-date">01 JAN 1970</span>
            • <a class="post-cat" href="/categories/#Cat">Cat</a>
        </p>
        <h4><a href="/articles/2016-08/test" class="post-title" title="Lorem Ipsum">Lorem Ipsum</a></h4>
    </header>
    <div class="post-description">
        <p>Lorem Ipsum Lorem Ipsum.</p>
    </div>
</section>
<div class="pagination" id="blog-contents-end-flag">
    <a id="blog-contents-btn-load-more" class="btn btn-info" href="#" onclick="javascript:blog.contents.load();">Load more articles</a>
</div>
