
<div id="post">
<header class="post-header">
    <h1 title="${data['title']}">${data['title']}</h1>
    <span class="post-meta">
        <span class="post-date">${data['date-str']}</span>
        % for cat in data['categories']:
        • <a class="post-cat" href="/categories?category=${cat}">${cat}</a>
        % endfor
        % for tag in data['tags']:
        • <a class="post-tag" href="/tags?tag=${tag}">${tag}</a>
        % endfor
    </span>
</header>
<article class="post-content">
${data['content-body']}
</article>
</div>
